Question 1 - Lahman

In [2]:
import pandas as pd

# Loads data
batting = pd.read_csv("https://raw.githubusercontent.com/gjm112/DSCI401/main/data/Batting.csv")
pitching = pd.read_csv("https://raw.githubusercontent.com/gjm112/DSCI401/main/data/Pitching.csv")
people = pd.read_csv("https://raw.githubusercontent.com/gjm112/DSCI401/main/data/People.csv")

# Filters for players with at least 300 HR and 300 SB
elite_players = batting.groupby('playerID').agg({'HR': 'sum', 'SB': 'sum'}).reset_index()
elite_players = elite_players[(elite_players['HR'] >= 300) & (elite_players['SB'] >= 300)]

# Joins the result with the player names
elite_players_names = pd.merge(elite_players, people[['playerID', 'nameFirst', 'nameLast']], on='playerID')

# Shows the result
print(elite_players_names[['nameFirst', 'nameLast', 'HR', 'SB']])

  nameFirst   nameLast   HR     SB
0    Carlos    Beltran  435  312.0
1     Barry      Bonds  762  514.0
2     Bobby      Bonds  332  461.0
3     Andre     Dawson  438  314.0
4     Steve     Finley  304  320.0
5    Willie       Mays  660  338.0
6      Alex  Rodriguez  696  329.0
7    Reggie    Sanders  305  304.0

In [4]:

# Part b)

# Filters for players with at least 300 W and 3,000 SO
elite_pitchers = pitching.groupby('playerID').agg({'W': 'sum', 'SO': 'sum'}).reset_index()
elite_pitchers = elite_pitchers[(elite_pitchers['W'] >= 300) & (elite_pitchers['SO'] >= 3000)]

# Joins the result with the players names
elite_pitchers_names = pd.merge(elite_pitchers, people[['playerID', 'nameFirst', 'nameLast']], on='playerID')

# Shows the result
print(elite_pitchers_names[['nameFirst', 'nameLast', 'W', 'SO']])

  nameFirst nameLast    W    SO
0     Steve  Carlton  329  4136
1     Roger  Clemens  354  4672
2     Randy  Johnson  303  4875
3    Walter  Johnson  417  3509
4      Greg   Maddux  355  3371
5      Phil   Niekro  318  3342
6   Gaylord    Perry  314  3534
7     Nolan     Ryan  324  5714
8       Tom   Seaver  311  3640
9       Don   Sutton  324  3574

In [28]:

# Part c)

# Converts H and AB to numeric
batting['H'] = pd.to_numeric(batting['H'], errors='coerce')
batting['AB'] = pd.to_numeric(batting['AB'], errors='coerce')

# Creates batting average (BA) column
batting['BA'] = batting['H'] / batting['AB']

# Filters for seasons with at least 50 HR
season_50_hr = batting[(batting['HR'] >= 50)]

# Finds the player with the lowest batting average in each season
lowest_avg_player_id = season_50_hr.loc[season_50_hr['BA'].idxmin(), 'playerID']

# Filters for player name and lowest batting average
lowest_avg_player_info = people.loc[people['playerID'] == lowest_avg_player_id, ['nameFirst', 'nameLast', 'playerID']]

# Shows the result
print("Players with at least 50 HR in a season:")
print(season_50_hr[['playerID', 'yearID', 'HR']])

# Shows the result
print("\nPlayer with the lowest batting average in that season:")
print(lowest_avg_player_info.iloc[0])

Players with at least 50 HR in a season:
         playerID  yearID  HR
18533    ruthba01    1920  54
19053    ruthba01    1921  59
22270    ruthba01    1927  60
22800    ruthba01    1928  54
23979   wilsoha01    1930  56
24653    foxxji01    1932  58
27738    foxxji01    1938  50
27766   greenha01    1938  58
33001   kinerra01    1947  51
33103    mizejo01    1947  51
34153   kinerra01    1949  54
37833    mayswi01    1955  51
38466   mantlmi01    1956  52
41673   mantlmi01    1961  54
41675   marisro01    1961  61
44656    mayswi01    1965  52
54761   fostege01    1977  52
67722   fieldce01    1990  51
72979   belleal01    1995  50
74181   anderbr01    1996  50
74878   mcgwima01    1996  52
75834   griffke02    1997  56
77078   griffke02    1998  56
77404   mcgwima01    1998  70
77751    sosasa01    1998  66
77856   vaughgr01    1998  50
78720   mcgwima01    1999  65
79068    sosasa01    1999  63
80417    sosasa01    2000  50
80767   bondsba01    2001  73
81094   gonzalu01    2001  57
81688   rodrial01    2001  52
81785    sosasa01    2001  64
83011   rodrial01    2002  57
83166   thomeji01    2002  52
86622   jonesan01    2005  51
87902   howarry01    2006  58
88246   ortizda01    2006  54
89097   fieldpr01    2007  50
89783   rodrial01    2007  54
92930   bautijo02    2010  54
97327   davisch02    2013  53
103525  judgeaa01    2017  52
104123  stantmi03    2017  59
105900  alonspe01    2019  53

Player with the lowest batting average in that season:
nameFirst         Pete
nameLast        Alonso
playerID     alonspe01
Name: 279, dtype: object

Question 2 - NYC Flights

In [29]:

# Part a)

# Loads data
flights = pd.read_csv("https://raw.githubusercontent.com/gjm112/DSCI401/main/data/flights.csv")
airlines = pd.read_csv("https://raw.githubusercontent.com/gjm112/DSCI401/main/data/airlines.csv")
planes = pd.read_csv("https://raw.githubusercontent.com/gjm112/DSCI401/main/data/planes.csv")

# Filters for the flights that flew in 2013 from NYC
flights_2013 = flights[(flights['year'] == 2013) & (flights['origin'].isin(['JFK', 'LGA', 'EWR']))]

# Left joins flights_2013 with planes data
flights_2013 = flights_2013.merge(planes, left_on='tailnum', right_on='tailnum', how='left')

# Finds the oldest plane by tail number
oldest_plane = flights_2013.groupby('tailnum')['year_y'].min().reset_index()
oldest_plane = oldest_plane.sort_values(by='year_y').dropna()

# Shows the result
print(oldest_plane.iloc[0])

tailnum    N381AA
year_y     1956.0
Name: 1071, dtype: object

In [27]:

# Part b)

# Filters for flights from NYC
nyc_flights = flights[flights['origin'].isin(['JFK', 'LGA', 'EWR'])]

# Finds unique tail numbers of planes that flew from NYC
unique_tailnums = nyc_flights['tailnum'].unique()

# Filters the planes table to get the airplanes included in it
planes_included = planes[planes['tailnum'].isin(unique_tailnums)]

# Count the number of airplanes
num_airplanes_included = (planes_included)

print("Number of airplanes that flew from New York City and are included in the planes table:", num_airplanes_included)

Number of airplanes that flew from New York City and are included in the planes table: Unnamed: 0      3322
tailnum         3322
year            3252
type            3322
manufacturer    3322
model           3322
engines         3322
seats           3322
speed             23
engine          3322
dtype: int64

Question 3 - Pivot Wider

In [13]:
import pandas as pd

# Create the original data frame
dat = pd.DataFrame({
    'grp': ['A', 'A', 'B', 'B'],
    'sex': ['F', 'M', 'F', 'M'],
    'meanL': [0.225, 0.47, 0.325, 0.547],
    'sdL': [0.106, 0.325, 0.106, 0.308],
    'meanR': [0.34, 0.57, 0.4, 0.647],
    'sdR': [0.0849, 0.325, 0.0707, 0.274]
})

# Pivot the data frame to wide format
wide_dat = dat.pivot(index='grp', columns='sex', values=['meanL', 'sdL', 'meanR', 'sdR'])

# Rename the columns to match the desired format
wide_dat.columns = [f"{col[1]}.{col[0]}" for col in wide_dat.columns]

# Reset the index
wide_dat.reset_index(inplace=True)

# Display the result
print(wide_dat)

  grp  F.meanL  M.meanL  F.sdL  M.sdL  F.meanR  M.meanR   F.sdR  M.sdR
0   A    0.225    0.470  0.106  0.325     0.34    0.570  0.0849  0.325
1   B    0.325    0.547  0.106  0.308     0.40    0.647  0.0707  0.274

Question 4 - Remove & Pivot Longer

In [18]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/gjm112/DSCI401/main/data/pccc_icd10_dataset.csv")

pccc_icd10_dataset = pd.DataFrame(data)

# Part (a): Remove columns labeled with "g" and a number
pccc_icd10_dataset = pccc_icd10_dataset.loc[:, ~pccc_icd10_dataset.columns.str.match(r'g\d+')]

# Part (b): Convert to a long data set
pccc_icd10_long = pd.melt(pccc_icd10_dataset, id_vars=['id'], var_name='type', value_name='code')

# Display the result
print(pccc_icd10_long)

         id  type     code
0         1   dx1  S9410XS
1         2   dx1      NaN
2         3   dx1      NaN
3         4   dx1  S7226XK
4         5   dx1  S92246A
...     ...   ...      ...
19995   996  pc10  BR49ZZZ
19996   997  pc10  0T184KD
19997   998  pc10      NaN
19998   999  pc10  0N940ZZ
19999  1000  pc10  0NS5XZZ

[20000 rows x 3 columns]